body {
  background: url("https://raw.githubusercontent.com/crow4-code/U15Ass2ThomasDawson/3f1c5c5b3fb56bf78ca9801cdb867c034173203b/images/homepage.jpg") no-repeat fixed;
  background-size: cover;
  background-position: center center; /* Ensure the image is centered */
  height: 100vh; /* Make sure the body takes full viewport height */
  margin: 0; /* Remove any default margin */
}
